img{
    width: 100%;
    height: 280px;
}

.DivDeDentro{
    width: 106%;
    height: 30%;
    background-color:white;
}

.DivDeFora{
    float: right;
    width: 22%;
    height: 30%;
    padding: 10px 1px 22px 30px;
    background-color:#eee;
}

body{
    background-color: #eee;
}

#container{
    padding: 30px 60px 10px 10px;
}

.Sombra{
    box-shadow: 10px 10px 10px gray;
}

.NoMargin{
    
}

.fadeOut {
	opacity: 0;
	transition: 0.5s;
}

.invisivel {
	display: none;
}

.Cidade{
	margin: 0px;
    padding: 8px;
    text-align: center;
}

.DataHorario{
	margin: 0px;
    padding: 8px;
    text-align: center;
}

.NomeEvento{
	margin: 0px;
    padding: 8px;
    text-align: center;
}



#divParticipar{
	height: 500px;
    text-align: left;
    max-height: 92%;
    border: none;
    margin: 3% auto 0 auto;
    display: inline-block;
    background-color: #fff;
    overflow: auto;
    width: 700px;
    max-width: 700px;
	position: relative;
}

#divSombra{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    overflow: hidden;
    z-index: 11;
    text-align: center;
}

#imagem{
	width: 94%;
    height: 500px;
}

.divInformacoes{
	position: relative;
    float: left;
    width: 50%;
}

#btnParticipar{
	margin: 10px 5px 5px 1px;
	width: 325px;
}

#btnLonginParticipar{
	width: 325px;
	margin: 5px 5px 5px 0px;
}
 
h6{
	text-align: center;
}

#btnSair{
	background: #ffffff;
    margin: 0px 0px 0px 0px;
    border-color: #fff;
	color: #000;
	margin: 0px 5px 0px 280px;
	padding: 0.5em 0.4em;
}

.adicionais{
	text-align: center;
}

.divAdicionais{
	border: 1px solid #0c8cd3;
	max-width: 323px;
}


button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

label {
    color: #555;
    display: block;
    margin-bottom: .2em;
}
