@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url(../img/caminhada_black.png);
	background-size: cover;
}
.conteiner{
	position: relative;
	width: 1200px;
	height: 300px;
	margin: 220px auto;
	background: #288484;
	opacity: 0.65;
	border-radius: 10px;
}
.conteiner .caixa{
	position: relative;
	width: calc(400px - 30px);
	height: calc(300px - 30px);
	background: #000000;
	float: left;
	margin: 15px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
} 
.conteiner .caixa .icone{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #288484;
	transition: 0.5s;
	z-index: 1;
}

.conteiner .caixa:hover .icone {
	top: 20px;
	left: calc(50% - 40px);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	opaci
}
.conteiner .caixa .icone .fa {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 90px;
	transition: 0.5s;
	color: white;
}
.conteiner .caixa:hover .icone .fa{
	font-size: 60px;
}
.conteiner .caixa .content{
	position: relative;
	top: 60px;
	height: calc(100% - 60px);
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	transition: 0.3s;
	opacity: 0;
}
.conteiner .caixa:hover .content{
	left: 15px;
	text-align: center;
	top: 25%;
	opacity: 1;
	color: white;
	transition: 0.4s;
}
.conteiner .caixa .content h3{
	margin: 10px;
	padding: 0;
	color: white;
	font-size: 22px;
	text-align: center;
}.conteiner .caixa .content p{
	margin: 0 0 10px;
	padding: 0;
	color: white;
	font-size: 15px;
	text-align: center;
}

