@CHARSET "UTF-8";

.container{
	width: 60%;
	height: 100%;
	margin: 230px 345px auto;
}

.campo{
	margin: 2px;
	padding-bottom: 1em;
	border: 1px solid #ccc;
	padding: 1.1em;
	width: 85%;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 45%;
    display: block;
    clear: both;
    margin: 10px 125px;

}

.div-form{
	padding: 35px 0px 0px 45px;
    border-color: #949494;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    height: 290px;
    width: 555px;
}

