@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image:url(../img/background_login.png);
	background-size: cover;

}
.login-box{
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #288484;
}
.login-box h1 {
	float: left;
	font-size: 40px;
	border-bottom: 6px solid white;
	margin-bottom: 50px;
	padding: 13px 0;
}
.texto-box{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid white;

}
.texto-box i{
	width: 26px;
	float: left;
	text-align: center;	
}
.texto-box input{
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 10px;
}
.botao {
	width: 100%;
	background: none;
	border: 2px solid #288484;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;

}
.botao:hover{
	text-decoration: underline;
	background: #288484;
	transition: 0.5s;

}
.botaoHome {
	width: 100%;
	background: none;
	border: 2px solid #288484;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;
	margin-top: 0px;
	transition: 0.5s;
}
.botaoHome:hover{
	text-decoration: underline;
	background: #288484;

}