*{

    margin:0;
    padding: 0;
}

.parallax {
    background-image: linear-gradient(to right,DodgerBlue, blue);
    text-align: center;
    color: #fff;
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    padding: 0;
}
.parallax > #frase-inicio{
    
}
#frase-inicio{
    font-size: 25px;
    margin-top: 15%;
    font-style: Trebuchet MS, sans-serif;
}

#frase-inicio > button{
    font-size: 18px;
    margin:5px;
}
.logo-menu{
    height: : 100%;
    width: 20%;
}
.botao-evento{
    width:35vh;
    height: 4vh;
    border-radius: 8px;
    background-color: #fff;
    border: none ;
    /*color: DodgerBlue;*/
   
}
.botao-evento >a {
    color: #00004d;
    text-decoration: none;
    display: block;
    font-family: Trebuchet MS, sans-serif;
    font-size: 18px;
}
.botao-evento >a:hover {
    background-color: #00004d;
    color: #fff;
    text-decoration: none;
    display: block;
    border-radius: 8px;
    transform: translateY(1px);
}
footer{
    height: 50px;
    background-color: #000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
footer > p {
    margin-top: 15px;
}